/* @media (max-width: 1920px) {
   .main__info {
      margin-top: 200px;
   }


   .job__title::before {
      content: "|";
      display: block;
      margin-left: -28px;
      margin-right: 20px;
      margin-top: -7px;
      height: 4px;
      width: 2px;
   }


}

/* @media (max-width: 1600px) {
   .main__info {
      margin-left: auto;
   }

   .job__title::before {
      content: "";
   }
}

@media (max-width: 840px) {
   .main__info {
      margin-left: 18px;
      grid-template-columns: 1fr;
   }
} */


@media (max-width: 390px) {
   .main__info {
      margin-top: -160px;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(1, 1fr);
      margin-left: 15px;
      margin-right: 18px;
      background: none;
      border: none;
   }

   .item {
      margin-top: 20px;
   }

   .main__text {    
      grid-column: 1 / 10;
      grid-row: 1;
      margin-top: 550px;
   }

   .user__name {
      text-indent: 0.03em; 
      position: relative;
      line-height: 1em;
      text-align: start;
   }

   .job__title {      
      margin-top: 227px;
      position: absolute;
      left: -7px;
      line-height: 1em;
   }

   .job__title::before {
      content: "";
   }

   .main__subtitle {
      margin-top: 40px;      
      font-size: 30px;
      line-height: 1em;
   }
   
   p.job__subtitle {
      width: 330px;
   }

   .main__icons {
      display: flex;
      margin-left: 0;
   }

   .network__icon {
      margin-right: 25px;
   }

}

/* @media (max-width: 375px) {
   .main__info {
      margin-top: 649px;
      margin-left: 290px;
   }

   .main__text {
      width: 100px;
      margin-top: -104px;
      margin-left: 0px;
   }
}  */