.main__info {
   margin-top: -400px;
   margin-left: -267px;
   margin-right: -267px;
   background-color: #1e1e1ef3;
   border: 2px solid #000000;
   padding: 10px;
   border-radius: 10px;
   display: grid;
   align-items: center;
   grid-template-columns: repeat(10, 1fr, 300px);
   grid-template-rows: repeat(1, 1fr);
}

.main__text {
   display: flex;
   align-items: center;
   margin-top: -360px;
   grid-column: 2 / 10;
}

.user__name {
   font-size: 4em;
   word-wrap: break-word;
}

.job__title {
   margin-top: 24px;
   margin-left: 47px;
   font-weight: bold;
   font-size: 36px;
}

.job__title::before {
   content: "|";
   display: block;
   margin-left: -28px;
   margin-right: 20px;
   margin-top: -7px;
   height: 4px;
   width: 2px;
}

.main__subtitle {
   font-size: 25px;   
   font-weight: bold;   
   margin-top: -550px;
   grid-column: 2 / 10;
}

.main__icons {
   margin-top: -350px;
   grid-column: 2;
   grid-column-end: 9;
}

.network__icon {
   height: 50px;
   margin-right: 25px; 
}